[user]
    email = superhero@gmail.com
    name = Super Hero
[alias]
    co = checkout
    br = branch
    bl = branch -l
    ci = commit
    ca = commit --amend
    fa = fetch --all
    st = status
    rd = push origin --delete
    rb = rebase -i origin/master
    li = ls-files --other --ignored --exclude-standard  # list ignored files
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
[push]
    default = simple
[color]
    ui = true
[core]
    editor = vim
    pager = less
