[submodule "vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-trailing-whitespace"]
	path = pack/plugins/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim-easymotion"]
	path = pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "colorizer"]
	path = pack/plugins/start/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim-indent-object"]
	path = pack/plugins/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-autopep8"]
	path = pack/plugins/start/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "matchit"]
	path = pack/plugins/start/matchit
	url = https://github.com/tmhedberg/matchit
[submodule "vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "YankRing.vim"]
	path = pack/plugins/start/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "gruvbox"]
	path = pack/plugins/opt/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "badwolf"]
	path = pack/plugins/opt/badwolf
	url = https://github.com/sjl/badwolf
[submodule "molokai"]
	path = pack/plugins/opt/molokai
	url = https://github.com/tomasr/molokai
